.videoplayer {
  width: 100%;
  margin-bottom: 1em;
  background-color: #222;
}

.video-container {
  width: 100%;
  margin: auto;
}

.videoplayer.transcript-enabled .video-container {
  width: 60%;
}

.videoplayer.transcript-enabled > div:first-child {
  float: left;
}

.videoplayer .transcript {
  display: none;

  overflow-y: auto;
}

.videoplayer.transcript-enabled .transcript {
  display: block;
  width: 40%;
}

.videoplayer .transcript .cue {
  cursor: pointer;
}

.videoplayer .transcript .cue.current {
  font-weight: bold;
}
